<li>
    <div class="ht-activity-img"
         style="background-image: url(./img/activities/Guam-cocopalm01.jpg)"></div>
    <div class="ht-activity-contents">
        <div class="ht-activity-title">
            괌 코코팜 가든 비치
        </div>
        <div class="ht-activity-summary">
            데얼러가 추천하는 괌 필수코스, 사상 최저가 도전!
        </div>
        <div class="ht-activity-prices">
            <div class="ht-activity-from">
                from
            </div>
            <div class="ht-activity-price">
                ₩64,800 <span class="ht-activity-org-price">75,670</span>
            </div>
        </div>
    </div>
    <ul class="ht-activity-badges">
        <li class="ht-badge-hot">HOT</li>
        <li class="ht-badge-event">EVENT</li>
        <li class="ht-badge-point">POINT</li>
        <li class="ht-badge-none">NONE</li>
    </ul>
</li>
