<tr>
    <td>{{no}}</td>
    <td>{{icon}}</td>
    <td>{{title}}</td>
    <td>{{contents}}</td>
    <td>
        <button class="btn btn-xs">
            위로
        </button>
        <button class="btn btn-xs">
            아래로
        </button>
        <button class="btn btn-xs btn-danger">
            삭제
        </button>
    </td>
</tr>