<tr>
    <td></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td>
        <button class="hta-apply-row btn btn-xs btn-success">
            적용
        </button>
        <button class="hta-cancel-row btn btn-xs btn-default">
            취소
        </button>
    </td>
</tr>