{{#each this}}
<li>
    <div class="hta-there-img"
         style="background-image: url({{background}})"></div>
    <div class="hta-there-text">
        <div class="hta-there-title">{{name}}({{id}})</div>
        <div class="hta-there-summary">{{summary}}</div>
        <ul class="hta-there-properties">
            <li>
                <i class="fa fa-info-circle"></i>
                3
            </li>
            <li>
                <i class="fa fa-car"></i>
                4
            </li>
        </ul>
    </div>
</li>
{{/each}}