@import 'common.less';
@import 'ht-tab.less';
@import 'ht-carousel.less';
@import 'ht-activity.less';

.ht-section-activity {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  text-align: center;
}

.ht-activity-name {
  margin-top: 150px;
  font-size: 30px;
  font-weight: bold;
}

.ht-activity-in {
  margin-top: 30px;
  font-size: 18px;
}

.ht-section-info {
  background-color: #edeef2;
}

@activity-booking-width: 270px;

.ht-activity-info {
  padding-right: @activity-booking-width + 15px;
}

.ht-tab-contents {
  height: 500px;
}

.ht-tab-contents > li {
  height: 100%;
}

.ht-activity-photos {
  height: 100%;
}

.ht-activity-video-ready {
  padding-top: 220px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#ht-activity-map {
  height: 100%;
}

.ht-activity-info-text {
  padding: 60px 30px;
  background-color: #fff;
  font-size: 12px;
  line-height: 200%;
}

.ht-activity-info-title {
  margin-bottom: 20px;
  color: @main-color;
  font-size: 20px;
  font-weight: bold;
}

.ht-activity-intro-text {
  margin-bottom: 30px;
}

.ht-activity-info-list {
  padding: 30px 0px;
  border-top: solid 1px #bbb;
}

.ht-activity-info-list .type-icon > li {
  position: relative;
  padding: 20px 0px 20px 22px;
  border-bottom: 1px solid #ddd;
}

.ht-activity-info-list .type-icon > li:last-child {
  border: 0;
}

.ht-activity-info-list .type-icon > li .fa {
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: 14px;
}

.ht-activity-info-list .type-dot {
  list-style: disc;
  padding-left: 22px;
}

.ht-activity-info-list .type-dot > li {
  margin: 10px 0px;
}

.ht-activity-info-list-title {
  font-size: 14px;
  font-weight: bold;
}

.ht-activity-booking {
  position: absolute;
  top: 0px;
  right: 0px;
  width: @activity-booking-width;
}

.ht-section-activities {
  padding: 20px 0px;
  background-color: #edeef2;
}

.ht-activities-title {
  padding: 40px 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
