<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HT Admin</title>
</head>
<body>
{{> ../../template/admin/menu group-activity="true" activity="true"}}
<div class="admin-contents">
    <div class="hta-title">액티비티 관리</div>
    <div class="hta-activity-search-form">
        <div id="hta-there-group-select" class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdown-title">지역그룹</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div id="hta-there-select" class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdown-title">지역</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div id="hta-activity-search" class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search fa-flip-horizontal"></i></span>
            <input type="text" id="hta-activity-search-input" class="form-control" placeholder="액티비티명 또는 액티비티ID" aria-describedby="basic-addon1">
        </div>
        <button class="hta-add-activity btn btn-primary">액티비티추가</button>
    </div>
    <ul class="hta-activity-list">
        <li activity-id="guam-cocopalm-garden-beach">
            <div class="hta-activity-img"
                 style="background-image: url(../../img/activities/guam-dolphin-cruise01.jpg)"></div>
            <div class="hta-activity-text">
                <div class="hta-activity-title">코코팜 가든 비치(guam-cocopalm-garden-beach)</div>
                <div class="hta-activity-intro">자연 그대로의 모습을 간직하고있는 북부 리티디안 비치에서는 투몬비치와는 다른 투명함을 느낄수 있답니다.
                    리티디안 비치가 험난한 도로 때문에 가기 힘들었다면 코코팜 가든 비치를 방문해보세요.
                    같은 리티디안에 있는 코코팜 가든은 괌 뚜벅이 여행자도 손쉽게 이용 가능합니다.
                    깊이 들어가지 않아도 수많은 산호와 물고기를 볼 수 있는, 해변에서 시간을 보내기에 필요한 모든 것이 갖춰져 있는 곳 괌의 지상 낙원입니다.</div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>