<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HT Admin</title>
</head>
<body>
{{> ../../template/admin/menu}}
<div class="admin-contents">
    지역 그룹 관리
</div>
</body>
</html>