<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HT Admin</title>
</head>
<body>
{{> ../../template/admin/menu group-there="true" there-info="true"}}
<div class="admin-contents">
    <div class="hta-title">지역 정보 관리</div>
    <div class="hta-buttons">
        <button class="hta-save btn btn-success">저장</button>
        <button class="hta-delete btn btn-danger">삭제</button>
        <button class="hta-cancel btn btn-default">취소</button>
    </div>
</div>
</body>
</html>