<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HT Admin</title>
</head>
<body>
{{> ../../template/admin/menu group-there="true" there-info="true"}}
<div class="admin-contents">
    지역 정보 관리
</div>
</body>
</html>