<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HT Admin</title>
</head>
<body>
{{> ../../template/admin/menu group-there="true" there-group="true"}}
<div class="admin-contents">
    <div class="hta-title">지역 그룹 관리</div>

    <div class="hta-buttons">
        <button class="btn btn-success">저장</button>
    </div>
</div>
</body>
</html>