<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header search="true" }}
<div class="ht-setting-container">
    <div class="ht-tab">
        <ul class="ht-tab-btns">
            <li class="active">계정 설정</li>
        </ul>
        <ul class="ht-tab-contents">
            <li class="active">내용</li>
        </ul>
    </div>
</div>
{{> template/footer }}
</body>
</html>